@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg-color: #221c35;
  --main-color: #f67599;
  --caret-color: #f67599;
  --sub-color: #5a3a7e;
  --sub-alt-color: #2f2346;
  --text-color: #ffe3eb;
  --error-color: #efc050;
  --error-extra-color: #c5972c;
  --colorful-error-color: #efc050;
  --colorful-error-extra-color: #c5972c;
}

::selection {
  background-color: var(--main-color); /* Warna background saat teks diblok */
  color: var(--bg-color); /* Warna teks saat diblok */
}

.custom-input {
  @apply rounded-lg bg-sub-alt placeholder-sub text-text focus:outline-none;
}

.custom-button {
  @apply font-bold mt-2 p-2 rounded-lg bg-sub-alt text-text hover:bg-text hover:text-sub-alt
}