@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg-color: #221c35;
  --main-color: #f67599;
  --caret-color: #f67599;
  --sub-color: #5a3a7e;
  --sub-alt-color: #2f2346;
  --text-color: #ffe3eb;
  --error-color: #efc050;
  --error-extra-color: #c5972c;
  --colorful-error-color: #efc050;
  --colorful-error-extra-color: #c5972c;
}

::selection {
  background-color: var(--main-color); /* Warna background saat teks diblok */
  color: var(--bg-color); /* Warna teks saat diblok */
}

.custom-input {
  @apply rounded-lg bg-sub-alt placeholder-sub text-text focus:outline-none;
}

.custom-button {
  @apply font-bold bg-sub-alt text-text hover:bg-sub hover:text-text
}

.custom-icon-container {
  @apply bg-sub-alt rounded-full p-2
}

.custom-icon-container-active {
  @apply bg-sub-alt rounded-full p-2
}

.custom-icon-container-hover {
  @apply bg-sub rounded-full p-2 cursor-pointer
}

.custom-icon {
  @apply text-sub
}

.custom-icon-active {
  @apply text-main
}

.custom-icon-hover {
  @apply text-main
}

.custom-header {
  @apply backdrop-blur-sm sticky top-0 z-50
}

.custom-page {
  @apply px-4
}

.custom-app {
  @apply px-[12%]
}

.custom-text-5 {
  @apply text-5xl
}

.custom-text-4 {
  @apply text-4xl
}

.custom-text-3 {
  @apply text-3xl
}

.custom-text-2 {
  @apply text-2xl
}

.custom-text-1 {
  @apply text-base
}